*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    overflow-x: hidden;
}

/* .popup{
    position: absolute;
    
    transform: translate(-50%, -50%);
    width: 380px;
    padding: 20% 30%;
    background: #fff;
} */


.popup{
    position: absolute;
    z-index: 10;
    width: 380px;
    background: #fff;
    /* border: 1px solid black; */
    opacity: 0;
    left: 38%;
    top: 180px;
    padding: 20px 30px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    
}
.popup-signup{
    position: absolute;
    z-index: 10;
    width: 380px;
    background: #fff;
    /* border: 1px solid black; */
    opacity: 0;
    left: 38%;
    top: 180px;
    padding: 20px 30px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
}

.popup.active{
    opacity: 1;  
}
.popup-signup.active{
    opacity: 1;
}

.popup .close-btn{
    position: absolute;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup-signup .close-btn{
    position: absolute;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup-signup .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .form .form-element{
    margin: 15px 0px;
}

.popup-signup .form .form-element{
    margin: 15px 0px;
}

.popup .form .form-element label{

    font-size: 14px;
    color: #222;
}
.popup-signup .form .form-element label{

    font-size: 14px;
    color: #222;
}

.popup .form .form-element .text_in,
.popup .form .form-element .pass_in
{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.popup-signup .form .form-element .text_in,
.popup-signup .form .form-element .pass_in
{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element .check_in{
    margin-right: 5px;
}
.popup-signup .form .form-element .check_in{
    margin-right: 5px;
}


.popup .form .form-element button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}
.popup-signup .form .form-element button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}


.popup .form .form-element a{
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none
}
.popup-signup .form .form-element a{
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none
}

/* video:hover{
    cursor: pointer;
} */


@media (max-width: 767px) {
    .hero{
        justify-content: center;
    }
    .hero .right_part {
        opacity: 0;
    }

    .hero .left_part .pytn{
        font-size: 30px;

    }
    .Service_Section{
        margin-bottom: 100px;
    }
    .services{
        flex-direction: column;
    }
    .Service-3{
        opacity: 0;
    }
    .wcu{
        flex-direction: column;
       
    }
}